<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

  <div class="d-flex mt-5">
    <div class="container w-25">
      <form action="/" method="post">
        <label for="exampleDataList" class="form-label">Datalist example</label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" name = "table" placeholder="Type to search...">

        <datalist id="datalistOptions">
          <% for(var i=0 ; i < tables.length ; i++) {%>
            <option value=<%=tables[i]%>>
          <% } %>
        </datalist>

        <button type="submit" class="btn btn-secondary btn-sm mt-3">submit</button>
      </form>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <% for(var i=0 ; i < header.length ; i++) {%>
            <th scope="col">
              <%= header[i] %>
            </th>
            <% } %>

        </tr>
      </thead>
      <tbody>
        <% for(var i=0 ; i < list.length ; i++) {%>
          <tr>
            <th scope="row">
            </th>
            <% for(var j=0 ; j <=list[i].length ; j++) {%>
              <td>
                <%=list[i][j]%>
              </td>
              <% } %>
          </tr>
          <% } %>

      </tbody>
    </table>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>