<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Transport website</h1>

    <button class="logout btn btn-success text-light">logout</button>

    <form action="/index" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Source</label>
          <input type="text" class="form-control" name="source">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="text" class="form-control" name="destination">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Vehicle type</label>
          <input type="text" class="form-control" name="type">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script>
        const logout = document.querySelector(".logout");

        logout.addEventListener("click", ()=>{
            fetch("/index", {
                method: 'delete'
            }).then(()=>location.reload())
            .catch((err)=>console.log(err));
        })
    </script>
</body>
</html>